* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #980fe8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  z-index: 3;
}

header a {
  color: #ffffff;
  text-decoration: none;
}

header nav a {
  color: #07eeee;
  margin: 0 10px;
  font-weight: bold;
  transition: color 0.4s;
}

.pCont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.produto {
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  text-align: center;
  width: 300px;
  margin: 0 auto; /* Centraliza o produto */
  box-shadow: 0 4px 6px rgba(87, 3, 38, 0.1);
  transition: transform 0.2s ease-in-out;
}

.produto:hover {
  transform: scale(1.03);
}

.produto img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 15px;
}

.produto figure {
  text-align: center;
  padding: 15px;
  background-color: #f9f9f9;
}

.produto figure img {
  max-width: 100%;
  max-height: 200px;
  object-fit: contain;
}

.produto-info {
  padding: 15px;
  flex-grow: 1;
}

.produto-detalhes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.preco {
  color: #13549f;
  font-weight: bold;
  font-size: 18px;
}

.pCont button {
  background-color: #980fe8;
  color: rgb(255, 247, 252);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pCont button:hover {
  background-color: #14bfc5;
}

footer {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: auto;
}

.descricao {
  background-color: #69727b;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: left;
  font-size: 14px;
  margin-top: 15px;
  color: #000000;
}

.preco {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #530969;
}

.avaliacoes {
  font-size: 14px;
  color: #530969;
  margin-bottom: 15px;
}



.adicionar-cesto {
  background-color: #d1e7dd;
  color: #0f5132;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

#produtos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.adicionar-cesto:hover {
  background-color: #bcd0c7;
}

@media (max-width: 1024px) {
  .pCont {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .pCont {
      grid-template-columns: 1fr;
  }
}