body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

header {
    background-color: #585757;
    color: white;
    font-size: 28px;
    text-align: center;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
    margin-left: 20px; 
}

.main-content {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 20px;
    padding: 15px;
    margin: 15px;
}

.interfaces-web {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.interfaces-web h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.poem p {
    margin: 5px 0;
    font-size: 18px;
}


.info-labs-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
    gap: 20px;
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto;
}

.info-labs {
    background-color: #ffffff;
    padding: 5px;
    border-radius: 10px;
}

.info-labs h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.lab-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    background-color: #c3c3c3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


footer {
    background-color: #c3c3c3;
    text-align: center;
    padding: 10px;
}

footer p {
    margin: 0;
    font-size: 14px;
    color: black;
}

