/* Estilo geral do body */
body {
    background-color: #a6dced ; /* Cor de fundo para a página */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo para o header e a barra de navegação */
nav {
    background-color: #4CAF50; 
    padding: 10px;
    
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

nav a:hover {
    background-color: #369f81; /* Efeito hover nos links */
}

/* Estilo para a main section */
main {
    background-color: blue ;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para o footer */
footer {
    background-color: #a6dced ;
    color: blue;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

 /* Estilo do campo de informações gerais */
 fieldset {
    background-color: #6E787B; /* cor cinza escuro background*/
    padding: 20px;
    border: 2px solid rgb(16, 16, 16);
    width: 400px;
    margin-top: 20px; /* Adiciona espaço em cima */
}

/* Estilo da legenda (título do fieldset) */
legend {
    font-weight: bold;
    color: #161515;
    padding: 5px 10px;
    background-color: #4F5A5D; /* cor mais escura */
    border: 1px solid black;
}

/* Estilo dos labels */
label {
    margin: 10px 0 5px;
    color: #000000;
}
