body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
   padding: 0;
    display: flex
   align-items center;
   height :60px;
    background-color: #ccc;
 }

.container {
    width: 95%;
    background-color: #4d4c4c;
    padding: 10px;
  }

.section {
    margin-bottom: 15px;
    padding: 8px;
     border: 0px solid #030303;
     background-color: #e9e9e9;
}

.section h2 {
   background-color: #79bad6; /* Fundo azul */
   color: black; 
   padding: 10px;
   border-radius: 5px;
   display: inline-block; /* Faz com que o h2 não ocupe 100% da largura */
   max-width: 100%; /* Define uma largura máxima para o h2 */
   margin: 0; /* Remove margens extras */
}

.box {
   width: 100%;
   padding: 10px;
   border-radius: 5px;
   background-color: #d3d3d3;
   display: flex;
   font-size: 15px;
   color: #151212;
   font-family: 'Times New Roman', Times, serif;
   text-align: left; /* Alinhamento do texto à esquerda */
   max-width: 100%; /* Define uma largura máxima para a caixa */
}

.romanos {
   list-style-type: lower-roman;
   font-family: "Times New Roman", serif;
   font-size: 18px;
   color: #000;
   padding-left: 20px; /* Controle do espaçamento da lista */
   margin: 0; /* Remove a margem superior e inferior */
   padding-top: 0; /* Remove qualquer preenchimento no topo */
}


.romanos li:nth-child(odd) {
   color: blue; /* Azul para itens ímpares */
}

.romanos li:nth-child(even) {
   color: black; /* Preto para itens pares */
}


.romanos li:nth-child(even) {
   color: black; /* Cor preta para os itens pares */
}

.large-box {
      height: 100px;
}

.table-box {
    height: 100px;
}

/* Estilo para o container do título */
.title-container {
   background-color: #79bad6; /* Fundo azul claro para o título */
   padding: 20px;
   text-align: center;
}

/* Estilo do título */
h1 {
   color: #f3f3f3; /* Título com cor branca */
   margin: 0;
}

/* Estilo para o container da navegação */
.nav-container {
   background-color: #222222; /* Cor de fundo da barra de navegação */
   padding: 10px;
}

/* Estilo para a barra de navegação */
nav {
   display: flex;
   justify-content: center;
   gap: 35px; /* Espaçamento entre os links */
}

nav a {
   color: #ffffff; /* Cor branca para o texto dos links */
   text-decoration: none;
   padding: 10px 25px;
   font-weight: bold;
}

nav a:hover {
   background-color: #4daeea; /* Cor azul no hover */
   color: #ffffff; /* Cor branca no hover */
   border-radius: 5px;
}

/* Estilo para o rodapé */
.footer {
   background-color: #000000; /* Fundo do rodapé igual ao resto da página */
   color: #ffffff; /* Texto branco */
   text-align: center; /* Centralizar o texto */
   padding: 7px 0; /* Espaçamento no topo e embaixo */
   font-size: 7px; /* Tamanho da fonte */
   font-weight: bold; /* Negrito para destacar */
}

/* Remover sublinhado de qualquer link dentro de h2 */
h2 a {
   text-decoration: none; /* Remove sublinhado */
   color: inherit; /* Usa a cor do título */
}

