/* Estilos gerais */
body {
   font-family: Arial, Helvetica, sans-serif;
   margin: 0;
   padding: 0;
   background-color: #222222;
   display: flex;
   flex-direction: column;
   min-height: 100vh; 
}

.container {
   width: 90%;
   background-color: #4d4c4c;
   padding: 10px;
   margin: 0 auto; 
}

/*barra de navegaçao é nav*/
.nav-container {
   max-width: 1200px; 
   margin: 0 auto; 
   display: flex;
   justify-content: space-around;
   gap: 20px;
   background-color: #222222;
   padding: 10px;
   flex-wrap: wrap; /* Permite quebrar a linha se necessário */
}

nav a {
   margin: 0; 
   padding: 10px 25px;
   color: #ffffff; 
   text-decoration: none;
   font-weight: bold;
}

nav a:hover {
   background-color: #4daeea; 
   color: #ffffff;
   border-radius: 5px;
}


p, li, h2, h3 {
   margin-left: 10px;
}

/*  formulário */
form {
   padding: 20px;
}


h1 {
   color: #f3f3f3;
   margin-left: 10px;
}

h2 {
   margin-left: 10px;
}

li {
   margin-left: 10px;
}

h3 {
   margin-left: 10px;
}

.section {
   margin-bottom: 15px;
   padding: 8px;
   background-color: #e9e9e9;
}

.section h2 {
   background-color: #79bad6;
   color: black;
   padding: 10px;
   border-radius: 5px;
   display: inline-block;
   max-width: 90%;
   margin: 0;
}

.box {
   width: 90%;
   padding: 10px;
   border-radius: 5px;
   background-color: #d3d3d3;
   display: flex;
   font-size: 15px;
   color: #151212;
   text-align: left;
   max-width: 90%;
}

/* Estilo para listas */
.romanos {
   list-style-type: lower-roman;
   font-family: "Times New Roman", serif;
   font-size: 14px;
   color: #000;
   padding-left: 20px;
   margin: 0;
   padding-top: 0;
}

.romanos li:nth-child(odd) {
   color: blue;
}

.romanos li:nth-child(even) {
   color: black;
}

.image-container img {
   max-width: 100%;
   height: auto;
   display: block;
   margin: 10px auto; /* Centraliza a imagem */
}

/*  móveis */
@media only screen and (max-width: 767px) {
   .container {
       width: 100%; 
       padding: 5px; 
   }

   p, li, h2, h3 {
       font-size: 14px; 
       margin-left: 5px; 
   }

   .section {
       padding: 5px;
   }

   .section h2 {
       padding: 8px;
       font-size: 1.2em;
   }

   .box {
       font-size: 14px;
       padding: 8px;
   }

   .image-container {
       flex-direction: column;
   }

   .image-container img {
       width: 100%; 
   }

   .visit-table {
       font-size: 12px; 
   }

   /* Botão hambúrguer visível */
   .menu-toggle {
       display: block;
       font-size: 20px; 
   }
}


@media only screen and (min-width: 768px) and (max-width: 1023px) {
   .nav-container {
       display: flex;
       justify-content: center;
       flex-wrap: wrap;
   }

   nav a {
       font-size: 14px;
       padding: 10px 15px;
   }

   .container {
       padding: 10px;
   }

   .image-container img {
       width: 90%; 
   }
}



.footer {
   background-color: #000000; 
   color: #ffffff; 
   text-align: center; 
   padding: 15px; 
   font-size: 12px; 
   font-weight: bold; 
   margin-top: auto;  
}

/* Remover sublinhado de qualquer link dentro de h2 */
h2 a {
   text-decoration: none;
   color: inherit;
}


img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   max-width: 100%; 
   height: auto;
}

/* Tabela de visitas */
.visit-table {
   width: 100%;
   border-collapse: collapse;
   background-color: #78c1ee; 
   margin-top: 15px;
}

.visit-table th, .visit-table td {
   border: 1px solid #add9ec;
   padding: 10px;
   text-align: left;
}

.visit-table th {
   background-color: #79bad6;
   color: #fff;
}

.visit-table tr:nth-child(odd) td {
   background-color: #ffffff;
}

.visit-table tr:nth-child(even) td {
   background-color: #79bad6;
}

.visit-table tr:nth-child(even) {
   background-color: #e9f4fb;
}

/*  botão hambúrguer mobile */
.menu-toggle {
   display: none;
   background-color: #222222;
   color: white;
   font-size: 24px;
   padding: 10px;
   cursor: pointer;
   text-align: left;
   width: 100%;
}

.menu-toggle:focus {
   outline: none;
}

.menu-toggle-checkbox {
   display: none;
}

/* Estilo para o container das imagens no header */
.image-container {
   display: flex;
   justify-content: space-between;
   padding: 10px;
   box-sizing: border-box;
   margin-bottom: 20px;
}

.image-container img {
   width: 32%; 
   border-radius: 5px;
}



/* desktop */
@media only screen and (min-width: 1024px) and (max-width: 2559px) {
   .container {
       max-width: 2559px;
       margin: 0 auto;
       padding: 0 15px;
   }

   .image-container img {
       width: 30%;
   }
}

/* 4k */
@media only screen and (min-width: 2560px) {
   .image-container img {
       width: 30%;
   }
}