body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
   padding: 0;
    display: flex;
   align-items:center;
   height :60px;
    background-color: #222222;
 }

.container {
    width: 90%;
    background-color: #4d4c4c;
    padding: 10px;
  }

  p{
   margin-left: 10px;
}


iframe{
   margin-left: 10px;
}

/* Estilo para o formulário */
form {
   padding: 20px;
}

/* Estilo do título */
h1 {
   color: #f3f3f3; /* Título com cor branca */
   margin-left: 10px;
}

h2{
   margin-left: 10px;
}

li{
   margin-left: 10px;
}
h3{
   margin-left: 10px;
}

.section {
    margin-bottom: 15px;
    padding: 8px;
     border: 0px solid #030303;
     background-color: #e9e9e9;
}

.section h2 {
   background-color: #79bad6; /* Fundo azul */
   color: black; 
   padding: 10px;
   border-radius: 5px;
   display: inline-block; /* Faz com que o h2 não ocupe 100% da largura */
   max-width: 90%; /* Define uma largura máxima para o h2 */
   margin: 0; /* Remove margens extras */
}

.box {
   width: 90%;
   padding: 10px;
   border-radius: 5px;
   background-color: #d3d3d3;
   display: flex;
   font-size: 15px;
   color: #151212;
   font-family: 'Times New Roman', Times, serif;
   text-align: left; /* Alinhamento do texto à esquerda */
   max-width: 90%; /* Define uma largura máxima para a caixa */
}

.romanos {
   list-style-type: lower-roman;
   font-family: "Times New Roman", serif;
   font-size: 14px;
   color: #000;
   padding-left: 20px; /* Controle do espaçamento da lista */
   margin: 0; /* Remove a margem superior e inferior */
   padding-top: 0; /* Remove qualquer preenchimento no topo */
}


.romanos li:nth-child(odd) {
   color: blue; /* Azul para itens ímpares */
}

.romanos li:nth-child(even) {
   color: black; /* Preto para itens pares */
}


.romanos li:nth-child(even) {
   color: black; /* Cor preta para os itens pares */
}

.large-box {
      height: 100px;
}

.table-box {
    height: 100px;
}

/* Estilo para o container do título */
.title-container {
   background-color: #79bad6; /* Fundo azul claro para o título */
   padding: 20px;
   text-align: center;
}

/* Estilo do título */
h1 {
   color: #f3f3f3; /* Título com cor branca */
   margin: 0;
}

/* Estilo para o container da navegação */
.nav-container {
   background-color: #222222; /* Cor de fundo da barra de navegação */
   padding: 10px;
}

/* Estilo para a barra de navegação */
nav {
   display: flex;
   justify-content: center;
   gap: 35px; /* Espaçamento entre os links */
}

nav a {
   color: #ffffff; /* Cor branca para o texto dos links */
   text-decoration: none;
   padding: 10px 25px;
   font-weight: bold;
}

nav a:hover {
   background-color: #4daeea; /* Cor azul no hover */
   color: #ffffff; /* Cor branca no hover */
   border-radius: 5px;
}

/* Estilo para o rodapé */
.footer {
   background-color: #000000; 
   color: #ffffff; 
   text-align: center; 
   padding: 15px; 
   font-size: 12px; 
   font-weight: bold; /* Negrito para destacar */
    margin-top: auto;  /* Garante que o rodapé fique no final */
}

 html, body {   /*garante que a página tenha uma altura mínima igual à altura da janela,por isso que o rodape fica em baixo*/
   height: 100%;
   display: flex;
   flex-direction: column;
}

/* Remover sublinhado de qualquer link dentro de h2 */
h2 a {
   text-decoration: none; /* Remove sublinhado */
   color: inherit; /* Usa a cor do título */
}


img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   max-width: 100%; /* Para garantir que a imagem não ultrapasse o tamanho do container */
   height: auto; /* Para manter a proporção da imagem */
}

 
.visit-table {
   width: 100%;
   border-collapse: collapse;
   background-color: #78c1ee; /* Fundo azul claro */
   margin-top: 15px;
}

.visit-table th, .visit-table td {
   border: 1px solid #add9ec; /* Bordas azuis claras */
   padding: 10px;
   text-align: left;
}

.visit-table th {
   background-color: #79bad6; /* Cabeçalhos em azul claro */
   color: #fff; /* Texto branco nos cabeçalhos */
}

.visit-table tr:nth-child(odd) td {
   background-color: #ffffff; /* Branco para linhas pares */
}

.visit-table tr:nth-child(even) td {
   background-color: #79bad6; /* Azul claro para linhas ímpares */
}

.visit-table tr:nth-child(even) {
   background-color: #e9f4fb; /* Alternância de linhas em azul claro */
}




/* Exibir botão hambúrguer em mobile */
.menu-toggle {
   display: none;
   background-color: #222222;
   color: white;
   font-size: 24px;
   padding: 10px;
   cursor: pointer;
   text-align: left;
   width: 100%;
}

.menu-toggle:focus {
   outline: none;
}

.menu-toggle-checkbox {
   display: none;
}

/* Estilo para o container das imagens no header */
.image-container {
   display: flex; /* Faz as imagens ficarem lado a lado */
   justify-content: space-between; /* Espaçamento entre elas */
   padding: 10px;
   box-sizing: border-box;
   margin-bottom: 20px;
}

.image-container img {
   width: 32%; /* Cada imagem ocupa aproximadamente 1/3 da largura */
   border-radius: 5px;
}

/* Estilos responsivos para mobile */
@media  only screen and (max-width: 767px) {

   /* Exibir botão hambúrguer */
   .menu-toggle {
       display: block; /* Mostrar o botão hambúrguer */
   }

   /* Esconder a navegação por padrão em dispositivos móveis */
   .nav-container {
       display: none; /* Oculta a navegação em mobile por padrão */
       flex-direction:column;
       background-color: #222222;
       padding: 0;
       gap: 0;
   }

    /* Exibir navegação quando checkbox estiver marcado, qaundo os 3 ativos abre hamburger */
    .menu-toggle-checkbox:checked + .menu-toggle + .nav-container {
       display: flex;
   }


   /* Links da navegação em mobile */
   nav a {
       padding: 15px;
       text-align: center;
       border-bottom: 1px solid #4daeea;
   }

   /* Alinhar imagens em coluna em telas pequenas */
   .image-container {
       flex-direction: row; /* Colocar imagens em coluna */
   }

   .image-container img {
       width: 32%; /* Imagens ocupam 100% da largura em mobile */
       margin-bottom: 10px;
   }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
   .nav-container {
       display: flex;
       justify-content: center; /* Centraliza os itens de navegação */
       flex-wrap: wrap; /* Permite a quebra de linha se necessário */
   }

   nav a {
       font-size: 14px; /* Tamanho de fonte menor para tablets */
       padding: 10px 15px; /* Reduz o padding para melhor ajuste */
   }
}



/* Estilos para desktop */
@media only screen and (min-width: 1024px) and  (max-width: 2559px) {

   .container {
       max-width: 2559px; /* Defina o tamanho máximo do site */
       margin: 0 auto; /* Centraliza o conteúdo */
       padding: 0 15px; /* Espaço nas laterais */
   }
   /* Imagens ainda em linha, sem mudanças */
   .image-container img {
       width: 30%; /* Ajuste de largura para telas maiores */
   }
}

@media only screen and (min-width: 2560px) {
   /* Imagens ainda em linha, sem mudanças */
   .image-container img {
       width: 30%; /* Ajuste de largura para telas maiores */
   }

}